@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default text size */
@layer base {
  html {
    @apply text-[100%];
  }

  .slider {
    @apply /* Firefox  slider/thumb 
    styles
    */

        /* Chrome slider/thumb styles */
     relative
    h-4 
    w-full 
    appearance-none 
    rounded-full 
    md:bg-auto 
    [&::-moz-range-thumb]:-mt-[.8rem]  
    [&::-moz-range-thumb]:h-20 
    [&::-moz-range-thumb]:w-20  
    [&::-moz-range-thumb]:cursor-pointer 
    [&::-moz-range-thumb]:appearance-none 
    [&::-moz-range-thumb]:rounded-full 
    [&::-moz-range-thumb]:border-none 
    [&::-moz-range-thumb]:bg-primary-strong-cyan [&::-moz-range-thumb]:bg-svg-slider   
    [&::-moz-range-thumb]:bg-[length:45px_25px]
    [&::-moz-range-thumb]:bg-center
    [&::-moz-range-thumb]:bg-no-repeat   
    [&::-moz-range-thumb]:shadow-[0_14px_25px_2px] 
    [&::-moz-range-thumb]:shadow-shadow-cyan
    [&::-moz-range-thumb]:active:bg-active-cyan
    md:[&::-moz-range-thumb]:h-9
    md:[&::-moz-range-thumb]:w-9 md:[&::-moz-range-thumb]:bg-svg-slider md:[&::-moz-range-thumb]:bg-auto [&::-moz-range-thumb]:xl3:h-10 [&::-moz-range-thumb]:xl3:w-10
    
    
    [&::-webkit-slider-runnable-track]:h-2
    [&::-webkit-slider-runnable-track]:appearance-none
    [&::-webkit-slider-runnable-track]:overflow-visible 
    [&::-webkit-slider-runnable-track]:rounded-full 
    [&::-webkit-slider-thumb]:-mt-[2.2rem]  
    [&::-webkit-slider-thumb]:h-20
    [&::-webkit-slider-thumb]:w-20  
    [&::-webkit-slider-thumb]:cursor-pointer 
    [&::-webkit-slider-thumb]:appearance-none  
    [&::-webkit-slider-thumb]:rounded-full 
    [&::-webkit-slider-thumb]:bg-primary-strong-cyan  
    [&::-webkit-slider-thumb]:bg-svg-slider 
    [&::-webkit-slider-thumb]:bg-[length:45px_25px] 
    [&::-webkit-slider-thumb]:bg-center 
    [&::-webkit-slider-thumb]:bg-no-repeat 
    [&::-webkit-slider-thumb]:shadow-[0_14px_25px_2px] 
    [&::-webkit-slider-thumb]:shadow-shadow-cyan 
    [&::-webkit-slider-thumb]:active:bg-active-cyan 
    md:[&::-webkit-slider-thumb]:-mt-[.8rem]
    md:[&::-webkit-slider-thumb]:h-9   

    md:[&::-webkit-slider-thumb]:w-9 md:[&::-webkit-slider-thumb]:bg-auto  
    [&::-webkit-slider-thumb]:xl3:h-10
    [&::-webkit-slider-thumb]:xl3:w-10;
  }

  /* Basic styles for mobile and desktop */
  body {
    @apply flex h-fit w-[100dvw] items-center justify-center bg-neutral-very-pale-blue bg-svg-background
    bg-cover
    bg-[left_0rem_top_-30rem]
bg-no-repeat text-neutral-grayish-blue antialiased md:h-[100dvh]
    md:bg-auto
    md:bg-[left_-1rem_top_-4rem] lg:bg-[left_0rem_top_0rem];
  }
}

/* General track styles */
.track {
  background: linear-gradient(
    to right,
    hsl(174, 77%, 80%) 0%,
    hsl(174, 86%, 45%),
    hsl(174, 77%, 80%),
    hsl(224, 65%, 95%) 50%
  );
}
